<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конструктор сформированности УУД</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <section id="nav">
        <div class="nav_menu">
            <a href="" class="nav_i">Описание</a>
        <a href="" class="nav_i">Новости</a>
        <a href="" class="nav_i">Создатели</a>
        <a href="" class="nav_i">Конструктор</a>
        <a href="/reg" ><div class="log_in">Войти</div></a>

        </div>
            </section>
    <div class="main_banner">
        <div id="imgs_polygon"></div>
        <div class="logo_box">
            <img cla src="/static/imgs/2.png" width="77px" alt="">
            <p>TaLenIvAndr</p>
        </div>
        <div class="head_text">
            <p class="const">Конструктор</p>
            <p class="formir">сформированности УУД</p>
            <a href=""><div class="go_to_const">Перейти в конструктор<img  class="arrow" src="/static/imgs/arrow_left.png" width="38px" alt=""></div></a>
        </div>
    </div>
</body>
</html>